@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Zen+Old+Mincho:wght@400;700&display=swap");

$Poppins: "Poppins", sans-serif;

$primaryColor: #a71131;
$secondaryColor: rgb(53, 153, 202);
$textColor: rgb(107, 8, 21);
